<%- include('./usersTemplates/header.ejs') %>
<%- include('./usersTemplates/navBarUsers.ejs') %>

<main>

    <div>
        <h5 class="centerText">Detailed view of <strong> <%= results.title %> </strong></h5>
    </div>

    <section>  
        <article class="card centerText">
            <div class="card-image"> <!--IMAGEN-->
                <img src="<%= results.photo %>" alt="Aquí va la imagen">
                </div>
            <div class="card-title"> <!--Titulo-->
                <h2><%= results.title %></h2>
            </div>
            <div class="card-date"><!--fecha-->
                <h5><%= results.date.toString().substring(0, 10) %></h5>
            </div>
            <div class="card-text"> <!--extracto-->
                <p><%= results.extract %></p>
            </div>
            <div class="card-text justifyText"> <!--Descripción de artículo-->
                <p><%= results.description %></p>
            </div>
            <div class="centerText">
                <a id="goBackBtn" href="/">Back</a>
            </div>
        </article>
    </section>

</main>

<%- include('./usersTemplates/footer.ejs') %>