<%- include('./usersTemplates/header.ejs') %>
<%- include('./usersTemplates/navBarUsers.ejs') %>

<main>

    <h5 class="centerText">Search Results</h5>

    <%- include('./usersTemplates/userSearchBar.ejs') %>

    <div class="headImgBlock">
        <!-- imagen de articulo -->
    </div>
    <section>
      <% if (results) { %>

          <% results.forEach(data => { %>
            <article class="card centerText">
              <div class="card-image"> <!--IMAGEN-->
                  <img src="<%= data.photo %>" alt="Descripción de la imagen">
              </div>
              <div class="card-title"> <!--Titulo-->
                  <h2><%= data.title %></h2>
              </div>
              <div class="card-date"><!--fecha-->
                  <h5><%= data.date %></h5>
              </div>    
              <div class="card-text centerText"> <!--extracto-->
                <p><%= data.extract %></p>
              </div>
              <div class="card-small-text margin2topbot">
                <a class="articleBtn" href="/read-more/<%= data._id %>">See more</a>
              </div>
            </article>
          <% }) %>
    
          <% } else { %>
      
            <div class="centerDiv">
              <p class="error-message centerText">Ops! No articles found</p>
            </div>
            
            <% } %>
    </section>
</main>


<%- include('./usersTemplates/footer.ejs') %>