<%- include('./adminTemplates/headerAD.ejs') %>

<main >

    <h5 class="centerText">Here you can edit content</h5>

    <%- include('./adminTemplates/searchBar.ejs') %>

    <div class="headImgBlock">
        <!-- imagen de articulo -->
    </div>

    <div class="centerDiv">
      <a href="/admin/create-form" class="generalBtn maxWidth50">Create new article</a>
    </div>

    <% if (results) { %>

      <% results.forEach(data => { %>
        <article class="card centerText">
          <div class="card-image"> <!--IMAGEN-->
            <img src="" alt="Aquí va la imagen">
          </div>
          <div class="card-title"> <!--Titulo-->
              <h2><%= data.title %></h2>
          </div>
          <div class="card-subtitle"><!--fecha-->
              <h5><%= data.date %></h5>
          </div>
          <div class="card-text"> <!--extracto-->
              <p><%= data.extract %></p>
          </div>
          <div class="card-small-text margin3topbot">
            <a class="articleBtn margin2topbot" href="/admin/edit-form/<%= data._id %>"">Edit</a>
          </div>
          <div class="card-small-text margin3topbot">
            <a class="articleBtn margin2topbot" href="/admin/delete/<%= data._id %>">Delete</a>
          </div>
        </article>
      <% }) %>

      <% } else { %>
        
        <div class="centerDiv">
          <p class="error-message centerText">Ops! No articles found</p>
        </div>
        
        <% } %>

</main>

<%- include('./adminTemplates/footerAD.ejs') %>